# Répertoires Maven
target/

# Fichiers de configuration IntelliJ IDEA
.idea/

# Répertoires et fichiers de Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Configuration SmartTomcat
.smarttomcat/

# Fichiers de logs ou autres fichiers temporaires
*.log

# Autres fichiers potentiellement sensibles ou temporaires
*.class
*.jar
*.war

# Rapports de couverture et d'analyse
/coverage/
/.sonar/
/.scannerwork/

# Fichiers de configuration locale
application-local.properties

# Fichiers de build Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
